/*======================== MAPA ========================*/

.meio-cont{
    width: 100%;
    max-width: 1200px;
    display:grid;
    height:fit-content;
    background:none;
    justify-items:center;
    align-items:center;
    color:#ffffff;
    font-size:15px;
    gap:5px;
    margin: 50px auto;
    padding: 0 20 140px;
}
#map{
    height:700px;
    width: 100%;
    z-index:0;
}
.card-mapa {
    position:relative;
    width: 100%;
    height: auto;
    min-height: 600px;
    border-radius: 15px;
    flex-direction: row;
    overflow: visible;
}
/*======================== PRIMEIRA SEÇÃO ========================*/

.topo-cont{
    display:flex;
    height:fit-content;
    background:none;
    left:200px;
    justify-content:space-between;
    padding:15px;
    z-index: 10;
}

.nav-ativa{
    position: absolute;
    border-radius:10px;
    background-color:#ffffff;
    color:#666;
    font-size:12px;
    gap:10px;
    padding:15px;
    z-index: 2000;
    top: 80px;
    left: 10px;
    z-index: 10;
}

.div-texto1{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:100px;
    margin-bottom:5px;
}

.titulo-nav{
    color:black;
    font-size:15px;
}

.dados-rota{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    background-color:#ebecee;
    border-radius:10px;
    justify-content: space-between;
    padding:12px;
    gap:5px;
    margin-top:5px;
}

.text-dador{
    color:black;
    font-size:12px;
    text-align:end;
}

.btn-texto{
    background:none;
    border:none;
    cursor:pointer;
}

.btns{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3000;
}

.btns-mapa{
    background-color:#ffffff;
    height:45px;
    width:35px;
    border-radius:10px;
    font-size:30px;
    align-content:center;
    justify-content:center;
    color:#b0b5be;
}

.text-loc-atual{
    color: #2563eb;
}

/*======================== TERCEIRA SEÇÃO ========================*/

.final-cont{
    position:relative;
    bottom:5px;
    left: 5px;
    right: 5px;
    z-index: 10;
    justify-content: space-evenly;
    align-items:start;
    border-radius:10px;
    background-color:#ffffff;
    gap:10px;
    padding:10px;
    border:solid;
}

.icone-local{
    background-color:#b0b5be;
    height:60px;
    width:60px;
    border-radius:10px;
    font-size:30px;
    align-content:center;
    justify-content:center;
    text-align:center;
    color:#ffffff;
}

.desc-local{
    display:grid;
    align-content:space-around;
    width:80%;
    height:96px;
    color:#666;
    font-size:15px;
}

.info-adc{
    display:flex;
    justify-content:start;
    align-items:center;
    gap:10px;
    color:#b0b5be;
    padding:3px;
}

.icone-texto{
    width: 15px;
    height: 15px;
    margin-right:2px;
}

.inic-rota{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    background-color:#000;
    color:#ffffff;
    font-size:15px;
    cursor:pointer;
}

.btns2{
    position:absolute;
    display:grid;
    width:12%;
    height:100px;
    gap:10px;
    right:20px;
    top:30px;
}

.salvar{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    background-color:#ffffff;
    color:#000;
    font-size:15px;
    border-width:1px;
    cursor:pointer;
}