/* ==================== PAG INICIAL ==================== */
.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#map{
    height:900px;
    width: 100%;
    z-index:0;
}

.container-mapa {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

.card-mapa {
    width: 100%;
    height: 600px;
    border-radius: 15px;
    flex-direction: row;
    overflow:hidden;
}



.container-secao-loc-sugeridas {
    width: 100%;
    max-width: 1700px;
    margin: 10px auto;
    padding: 0 20px; 
}

.container-secao-loc-sugeridas h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.container-secao-loc-sugeridas h3 {
    font-size: 18px;
    color: #333;
    font-weight: 300;
}

.container-cards-locais {
    width: 100%;
    max-width: 1700px;
    margin: 10px auto;  
    display: flex;
    justify-content: space-between; 
    align-items: start;
    flex-wrap: wrap; 
    gap: 20px;
    padding: 0 20px; 
}

.card-localizacao1 {
    flex: 1 1 30%;
    min-width: 300px;
    height: 280px;
    border-radius: 15px;
    margin-top: 25px;
    background-color: #4d5564;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icone-predio {
    width: 60px;
    height: 60px;
    color: #f3f5f6;
}

.card-localizacao1 .titulo {
    color: #f3f5f6;
    font-size: 18px;
}

.card-localizacao2 {
    flex: 1 1 30%;
    min-width: 300px;
    height: 280px;
    border-radius: 15px;
    margin-top: 25px;
    background-color: #4d5564;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icone-restaurante {
    width: 60px;
    height: 60px;
    color: #f3f5f6;
}

.card-localizacao2 .titulo {
    color: #f3f5f6;
    font-size: 18px;
}

.card-localizacao3 {
    flex: 1 1 30%;
    min-width: 300px;
    height: 280px;
    border-radius: 15px;
    margin-top: 25px;
    background-color: #4d5564;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.icone-biblioteca {
    width: 60px;
    height: 60px;
    color: #f3f5f6;
}

.card-localizacao3 .titulo {
    color: #f3f5f6;
    font-size: 18px;
}

/* ==================== PAG INICIAL RESPONSIVIDADE ==================== */

@media (max-width: 1100px) {
    .card-localizacao1,
    .card-localizacao2,
    .card-localizacao3 {
        flex: 1 1 45%; 
    }
}

@media (max-width: 700px) {
    .card-localizacao1,
    .card-localizacao2,
    .card-localizacao3 {
        flex: 1 1 100%; 
    }
}
