/* ==================== PAG LOCAIS DISPONIVEIS ==================== */
.container-predio {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    min-height: calc(100vh - 120px);
    padding: 40px 20px 80px; 
}

.place_cards {
    width: 100%;
}

.predio {
     color: #000000;
     position:left;
     padding: 1rem;
     padding-left: 10rem;
}

.descricao{
margin-left: 10rem;
font-size: large;
}

.tabs {
   margin-top: 40px;
   margin-left: 10rem;
   border-bottom: 1px solid #ddd;
}

.tabs button {
    background:none ;
    border: none;
    padding: 1px;
    font-size: medium;
    font-weight: 500;
    margin-left: 3rem;
    cursor: pointer;
    color: #333;
}
.tabs button.active {
    border-bottom: 3px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

/* CARDS */
.all_locations{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; 
    justify-items: center; 
    padding: 2rem 10rem;
    
}
.localizacoes_card1, 
.localizacoes_card2,
.localizacoes_card3 {
    width: 100%;
    max-width: 300px;
    border: 1px solid #e0dada;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
   
}


.card-img{
    background: #4d5564;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 15px;
}
.card-body {
    display: flexbox;
    padding: 30px;
}

.card-body h2 {
    margin-bottom: 10px;
    font-size: 1rem;
}

.card-body p {
    font-size: 15px;
    color: #686565;
    margin-bottom: 10px;
}

/* BOTÕES */
.define_destination {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 6px;
}

.favorite {
    background: none;
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}





