/* ==================== PAG LOCALIZAÇÕES FAVORITAS ==================== */

.container-secao-loc-favoritas {
    width: 100%;
    max-width: 1550px;
    margin: 20px auto;
    padding: 0 20px; 
}

.container-secao-loc-favoritas h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.container-secao-loc-favoritas h3 {
    font-size: 18px;
    color: #333;
    font-weight: 300;
}

.container-cards-locais-favoritos {
    width: 100%;
    max-width: 1550px;
    margin: 10px auto;  
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    flex-wrap: wrap; 
    gap: 20px;
    padding: 0 20px; 
}

.card-localfav {
    flex: 0 0 380px;
    height: 400px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 25px;
    background: linear-gradient(to bottom, #4d5564 40%, #f3f5f6 40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.card-localfav .titulo {
    color: #f3f5f6;
    font-size: 18px;
    position: absolute;
    top: 60px;
    left: 50%;               
    transform: translateX(-50%);  
    width: 90%;              
    text-align: center;
}

.card-localfav .subtitulo {
    color: #111828;
    font-size: 20px;
    position: absolute;
    top: 180px;
    left: 10px;
}

.card-localfav .descr {
    color: #111828;
    font-size: 14px;
    position: absolute;
    top: 220px;
    left: 10px;
    width: 330px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;  
    -webkit-box-orient: vertical;
}


.card-localfav .local {
    color: #111828;
    font-size: 15px;
    position: absolute;
    left: 35px;
    top: 290px;
}

.card-localfav a {
    color: inherit;
    text-decoration: none;
}

.icone-pin {
    width: 20px;
    height: 20px;
    position: absolute;
    color: #111828;
    left: 10px;
    top: 290px;
}

.icone-coracao-preenchido {
    width: 20px;
    height: 20px;
    position: absolute;
    color: #111828;
    right: 25px;
    top: 180px;
    fill: #111828;   
    stroke: #111828;
}


.btn-marcar-destino {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    background-color: #111828;
    color: #f3f5f6;
    border: none;
    padding: 10px 45px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.btn-marcar-destino,
.btn-marcar-destino:link,
.btn-marcar-destino:visited,
.btn-marcar-destino:hover,
.btn-marcar-destino:active {
    color: #f3f5f6;
    text-decoration: none;
}

.icn-rota{
    width:12px;
    height:12px;
}