/* ==================== RESULTADO DE PESQUISA - TEXTOS ==================== */


.titulo-res{
    font-size: 30px;
    color:#000; 
}


.titulo-card{
    font-size: 18px;
    color:#f3f5f6;
}


.subtit-card{
    font-size:15px;
    color:#f3f5f6;
}


.quant-res{
    font-size: 14px;
    margin-bottom:5px;
}
.nome-pesq{
    font-size: 25px;
    margin-left: 17px;
    color:#1a1a1a;
}


.text-pesq{
    font-size: 14px;
    margin-left: 5px;
    margin-bottom:5px;
    color:#666;
}


.text-pesq2{
    font-size: 14px;
    margin-left: 5px;
    margin-right:5px;
    color:#333;
}


.tit-inf-adc{
    font-size: 16px;
    margin-left: 20px;
    margin-top: 15px;
    color:#333;
    font-weight: bold;
}


/* ==================== RESULTADO DE PESQUISA - CONTAINERS ==================== */


.resultados{
    display: grid;
    justify-content: start;
    align-items: start;
    margin-top: 50px;
    margin-left: 77px;
    gap: 15%;
}


.img-res{
    width: 65%;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 25px;
    margin-left: 75px;
    background-color: #4d5564;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}


.res-txt{
    width: 65%;
    height: 350px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 75px;
    display: grid;
    align-content: start;
    position: relative;
    border:solid;
    border-width:thin;
    border-color:#ccc;
    gap:5px;
}


.container-pesq{
    display: grid;
    align-items:end;
    width: 1400px;
}


.div-pesq{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width:100%;
    margin-bottom:5px;
}


.div-pesq2{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom:5px;
}


.div-pesq3{
    display: grid;
    justify-items: start;
    align-items: end;
    background-color:#ebecee;
    border-radius: 15px;
    margin-left:1em;
    margin-right: 20px;
    margin-bottom:5px;
}


.div-pesq4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: start;
    width: 100%;
    gap: 5px;
    margin-left: 15px;
    margin-bottom: 15px;
}


.div-pesq5{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap:10px;
    margin-bottom:5px;
    margin-top:10px;
}


/* ==================== RESULTADO DE PESQUISA - BOTÕES ==================== */


.marcar-btn{
    display:flex;
    background-color:#111828;
    border-radius:10px;
    width:50%;
    height: 55px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size:16px;
    color:#f3f5f6;
    cursor: pointer;
}


.extras-btn{
    display:flex;
    background-color:#f3f5f6;
    border-radius:10px;
    width:20%;
    height: 55px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size:16px;
    color:#111828;
    cursor: pointer;
    border-width:1px;
    border:#d1d4dc;
}



.favorites-btn2 {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}


/* ==================== RESULTADO DE PESQUISA - ÍCONES ==================== */


.icone-predio2 {
    width: 50px;
    height: 50px;
    color:#f3f5f6;
}


.icone-textos {
    width: 22px;
    height: 22px;
    color:#666 ;
    margin-left:1em;
}


.icones-btns{
    width: 22px;
    height: 22px;
}


.icone-coracao-preenchido,
.icone-coracao-vazio {
    width: 20px;
    height: 20px;
}


.icone-coracao-preenchido {
    fill: #111828;
    stroke: #111828;
}

.icone-coracao-vazio {
    fill: none;
    stroke: #111828;
}
