{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PUC-Go{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'CSS/style_base.css' %}">
    {% block extra_css %}{% endblock %}
    
    <!-- IMPORTANDO FONTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    
    <!-- ICONES -->
    <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body>

    <div class="container-principal">
        <!-- HEADER (fixo em todas as páginas) -->
        <header class="navbar">
        <nav class="side-menu" id="sideMenu">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'available_locations' %}">Prédios </a></li>
                <li><a href="{% url 'mapa:mapa' %}">Mapa</a></li>
                <li><a href="{% url 'favorites' %}">Favoritos</a></li>
                <li><a href="{% url 'login' %}">Login/Cadastro</a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'registro_rotas' %}">Registros</a></li>
                {% endif %}
            </ul>
        </nav>



            <div class="nav-content">
                <button class="menu-btn">
                    <a href="{% url 'home' %}" class="menu-link">
                        <i data-lucide="menu" class="menu-icon"></i>
                    </a>
                    <img src="{% static 'imagens/logo_pucgo2.png' %}" alt="logo" style="width:15px;height:20px;">
                    <span class="name-text">PUC-Go</span>
                </button>

                <div class="search-wrapper">
                    <span data-lucide="search" class="search-icon"></span>
                    <form action="{% url 'search_results' %}" method="get">
                        <input type="text" id="barraPesquisa" name="result_pesquisa" class="search-bar" placeholder="Buscar localizações no campus...">
                        <div class = "filtro">
                            <h2>Filtros de Busca</h2>
                            <div class="predioCategoria">
                                <div class="campo">
                                    <p>Categoria</p>
                                    <select name="categorias" id="todas_categorias">
                                    <option value="all">Todas as categorias</option>
                                    {% for tipo, label in tipos %}
                                        <option value="{{ tipo }}">{{ label }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
            
                                <div class="campo">
                                    <p>Prédio</p>
                                    <select name="predios" id="todos_predios">
                                    <option value="all_predios">Todos os prédios</option>
                                    {% for predio in predios %}
                                        <option value="{{ predio.id }}" >{{ predio.nome }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class ="botoes-filtro">
                                <button class="clean">Limpar</button>
                                <button class="filter">Aplicar Filtros</button>
                            </div>
                            
                        </div>
                    </form>
                </div>
                
               
                

                <div class="nav-right">
                    <a href="{% url 'favorites' %}" class="favorites-link">
                        <i data-lucide="heart" class="favorites-icon"></i>
                    </a>
                    {% if user.is_authenticated %}
                        <span class="welcome">Olá, {{ user.username }}!</span>
                        <button class="register-btn">
                            <a href="{% url 'logout' %}">Sair</a>
                        </button>
                    {% else %}
                        <button class="register-btn">
                            <a href="{% url 'login' %}">Entrar</a>
                        </button>
                    {% endif %} 
                </div>
            </div>
        </header>

        {% if messages %}   
        <div class="messages-container">
            {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div> 
        {% endif %}

        <!-- CONTEÚDO VARIÁVEL DAS PÁGINAS -->
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <!-- FOOTER -->
        <footer class="footer">
            <div class="footer-content">
                <span class="footer-left">PUC-Go</span>
                    <div class="footer-right">
                        <a href="#">Sobre</a>
                        <a href="#">Ajuda</a>
                        <a href="#">Contato</a>
                    </div>
            </div>
        </footer>
    </div>

    <script>lucide.createIcons();</script>
    {% block extra_js %}{% endblock %}
    <script src="{% static 'JS/base.js' %}?v=2"></script>

</body>
</html>
