{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/style_info_ambientes.css' %}">
{% endblock %}

{% block title %}PUC-Go — Informações do local{% endblock %}

{% block content %}

    <div class = "resultados">
        <p class = "titulo-res">Mais informações</p>
    </div>
        
        {% if local %}
            <div class="container-pesq">
                <div class="img-res">
                    <i data-lucide="building" class="icone-predio2"></i>
                    <p class="titulo-card">{{ local.predio.nome }}</p>
                    <p class="subtit-card"> 
                            {% if local.andar.isdigit %}
                                {{ local.andar }}º andar
                            {% else %}
                                {{ local.andar }}
                            {% endif %}
                    </p>
                </div>
                <div class="res-txt">
                    <div class="div-pesq">
                        <p class="nome-pesq">{{ local.nome }}</p>
                        
                        {% if user.is_authenticated %}
                            <form method="post" action="{% url 'mapa:favoritar_local' local.id %}">
                            {% csrf_token %}
                                <button type="submit" class="favorites-btn2" aria-label="Favoritar local">
                                    {% if local.id in favoritos_locais_ids %}
                                        <i data-lucide="heart" class="icone-coracao-preenchido"></i>
                                    {% else %}
                                        <i data-lucide="heart" class="icone-coracao-vazio"></i>
                                    {% endif %}
                                </button>
                            </form>
                        {% else %}
                        <button class="favorites-btn2" disabled title="Faça login para favoritar">
                            <i data-lucide="heart" class="icone-coracao-vazio"></i>
                        </button>
                        {% endif %}
                    
                    </div>

                    <div class="div-pesq2">
                        <i data-lucide="building" class="icone-textos"></i>
                        <p class="text-pesq">{{ local.predio.nome }}</p>
                    </div>
                    <div class="div-pesq2">
                        <i data-lucide="layers" class="icone-textos"></i>
                        <p class="text-pesq">{% if local.andar.isdigit %}
                                                {{ local.andar }}º andar
                                            {% else %}
                                                {{ local.andar }}
                                            {% endif %} </p>
                    </div>
                    <div class="div-pesq2">
                        <i data-lucide="door-open" class="icone-textos"></i>
                        <p class="text-pesq">{{ local.get_tipo_display }}</p>
                    </div>
                    <div class="div-pesq3">
                        <div class="div-pesq">
                            <p class="tit-inf-adc">Informações Adicionais</p>
                        </div>
                        <div class="div-pesq4">
                            {% if local.descricao %}
                            <p class="text-pesq">
                                {{ local.descricao }}
                            </p>
                             {% else %}
                            <p class="text-pesq">
                                Sem descrição disponível.
                            </p>
                            {% endif %}
                            
                        </div>
                    </div>    
                    <div class="div-pesq5">
                        <a href="{% url 'mapa:mapa' %}" class="marcar-btn">
                            <span data-lucide="map-pinned" class="icones-btns"></span>Marcar como destino
                        </a>
                    </div>
                </div>
    </div>

    {% else %}
        <div class="resultados">
            <p class="quant-res">Nenhum local encontrado.</p>
        </div>
    {% endif %}


{% endblock %}