{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/style_localizacoes_favoritas.css' %}">
{% endblock %}

{% block title %}PUC-Go — Localizações Favoritas{% endblock %}

{% block content %}




    <main class="conteudo-principal">
        <div class="container-secao-loc-favoritas">
            <h2>Localizações Favoritas</h2>
            <h3>Seus locais salvos no campus</h3>
        </div>


        <div class="container-cards-locais-favoritos">
             {# -------- PRÉDIOS FAVORITOS ---------- #}
            {% for fav in favoritos_predios %}
                <div class="card-localfav">
                    <p class="titulo">{{ fav.predio.nome }}</p>
                    <p class="subtitulo">{{ fav.predio.nome }}</p>

                
                    <a href="{% url 'mapa:favoritar_predio' fav.predio.id %}">
                    <i data-lucide="heart" class="icone-coracao-preenchido"></i>
                    </a>

                    <p class="descr">
                        {{ fav.predio.descricao|default:"Sem descrição disponível." }}
                    </p>

                    <i data-lucide="map-pin" class="icone-pin"></i>
                    <p class="local">
                        {{ fav.predio.nome }}
                    </p>

                    <button class="btn-marcar-destino">
                        <span class="texto-marcar-destino">Marcar como destino</span>
                    </button>
                </div>
    
            {% empty %}
            {# se não tiver prédios favoritos, não mostra nada aqui #}
            {% endfor %}

            {# -------- LOCAIS FAVORITOS --------- #}
            {% for fav in favoritos_locais %}
                <div class="card-localfav">
                    <p class="titulo">{{ fav.local.nome }}</p>
                    <p class="subtitulo">{{ fav.local.nome }}</p>

                    <a href="{% url 'mapa:favoritar_local' fav.local.id %}">
                    <i data-lucide="heart" class="icone-coracao-preenchido"></i>
                    </a>

                    <p class="descr">
                    {{ fav.local.descricao|default:"Sem descrição disponível." }}
                    </p>

                    <i data-lucide="map-pin" class="icone-pin"></i>
                    <p class="local">
                        {{ fav.local.predio.nome }} – 
                            {% if fav.local.andar.isdigit %}
                                {{ fav.local.andar }}º andar
                            {% else %}
                                {{ fav.local.andar }}
                            {% endif %}
                    </p>

                <button class="btn-marcar-destino">
                    <span class="texto-marcar-destino">Marcar como destino</span>
                </button>
                </div>
        {% empty %}
        
        {% endfor %}

        {% if not favoritos_predios and not favoritos_locais %}
            <p>Você ainda não tem localizações favoritas.</p>
        {% endif %}
        </div>
    </main>



{% endblock %}