{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/style_locais_disponiveis.css' %}">
{% endblock %}

{% block title %}PUC-Go — Locais Disponíveis{% endblock %}

{% block content %}



    <main class = "container-predio">

    <div class = "title">
        <h1 class = "predio">Locais Disponíveis</h1>
        <p class = "descricao">Encontre salas, banheiros e restaurantes no campus</p>
    </div>

    <section class = "place_cards">
    <nav class="tabs">
                {# Aba "Todos" #}
            <form method="get">
                <input type="hidden" name="tipo" value="todos">
                <button type="submit"
                        class="{% if selected_tipo == 'todos' %}active{% endif %}">
                    Todos
                </button>
            </form>

                {# Aba "Prédios" #}
            <form method="get">
                <input type="hidden" name="tipo" value="predio">
                <button type="submit"
                        class="{% if selected_tipo == 'predio' %}active{% endif %}">
                    Prédios
                </button>
            </form>

            {# Abas por tipo - pegando do TIPO_CHOICES #}
            {% for value, label in tipos %}
                <form method="get">
                    <input type="hidden" name="tipo" value="{{ value }}">
                    <button type="submit"
                            class="{% if selected_tipo == value %}active{% endif %}">
                        {{ label }}
                    </button>
                </form>
            {% endfor %}
    </nav>

    <div class = "all_locations">

        {% if selected_tipo == 'todos' or selected_tipo == 'predio' %}
            {% for predio in predios %}
                <div class="card-localizacao">
                    <p class="titulo">{{ predio.nome }}</p>
                    <p class="subtitulo">Prédio</p>

                    {% if user.is_authenticated %}
                        <a href="{% url 'mapa:favoritar_predio' predio.id %}">
                            {% if predio.id in favoritos_predios_ids %}
                                <i data-lucide="heart" class="icone-coracao-preenchido"></i>
                            {% else %}
                                <i data-lucide="heart" class="icone-coracao-vazio"></i>
                            {% endif %}
                        </a>
                    {% else %}
                        <button type="button"
                                        class="favorites-btn2 login-required"
                                        data-message="Você precisa estar logado para favoritar locais.">
                                    <i data-lucide="heart" class="icone-coracao-vazio"></i>
                                </button>
                    {% endif %}

                    <p class="descr">
                        {{ predio.descricao|default:"Sem descrição disponível." }}
                    </p>

                    <i data-lucide="map-pin" class="icone-pin"></i>
                    <p class="local">
                        {{ predio.nome }} 
                    </p>
                    {% load l10n %}
                    <div class="botoes-card-predio">
                        <a href="{% url 'mapa:mapa' %}?lat={{ predio.coordenadas.0|unlocalize }}&lng={{ predio.coordenadas.1|unlocalize }}" class="btn-marcar-destino-predio">
                            <span class="texto-marcar-destino"></span>Marcar como destino
                        </a>
                    </div>

                </div>
            {% endfor %}
        {% endif %}
        
        {% if selected_tipo != 'predio' %}
            {% for local in locais %}
                        <div class="card-localizacao">
                            <p class="titulo">{{ local.nome }}</p>
                            <p class="subtitulo">{{ local.predio.nome }}</p>

                            {% if user.is_authenticated %}
                                <a href="{% url 'mapa:favoritar_local' local.id %}">
                                    {% if local.id in favoritos_locais_ids %}
                                        <i data-lucide="heart" class="icone-coracao-preenchido"></i>
                                    {% else %}
                                        <i data-lucide="heart" class="icone-coracao-vazio"></i>
                                    {% endif %}
                                </a>
                            {% else %}
                                <button type="button"
                                        class="favorites-btn2 login-required"
                                        data-message="Você precisa estar logado para favoritar locais.">
                                    <i data-lucide="heart" class="icone-coracao-vazio"></i>
                                </button>
                            {% endif %}

                            <p class="descr">
                            {{ local.descricao|default:"Sem descrição disponível." }}
                            </p>

                            <i data-lucide="map-pin" class="icone-pin"></i>
                            <p class="local">
                                {{ local.predio.nome }} – 
                                    {% if local.andar.isdigit %}
                                        {{ local.andar }}º andar
                                    {% else %}
                                        {{ local.andar }}
                                    {% endif %}
                            </p>
                            {% load l10n %}
                            <div class="botoes-card-loc">
                                <a href="{% url 'mapa:mapa' %}?lat={{ local.predio.coordenadas.0|unlocalize }}&lng={{ local.predio.coordenadas.1|unlocalize }}" class="btn-marcar-destino">
                                    <span class="texto-marcar-destino"></span>Marcar como destino
                                </a>
                                <a href="{% url 'info_ambientes' local.id %}" class="btn-mais-infos">
                                    <span data-lucide="info" class="icone-mais"></span>Mais informações
                                </a>
                            </div>
                        </div>
                    {% endfor %}
        {% endif %}
    </div>
  </main>


<script>
document.addEventListener('DOMContentLoaded', function () {
    const btns = document.querySelectorAll('.login-required');

    btns.forEach(function (btn) {
        btn.addEventListener('click', function () {
            const msg = btn.dataset.message || 'Você precisa estar logado para fazer isso.';
            alert(msg);
        });
    });
});
</script>

{% endblock %}