














<link rel="stylesheet" href="{% static 'CSS/style_base.css' %}">

<div id="modalInstrucoes" class="modal-overlay">
    <div class="modalAjuda">
        <div class="modal-cabecalho">
             <h2 class="modal-titulo">Suporte</h2>
        </div>
        
        <div class="modal-corpo-instrucoes">
            <ul>
                <li>Suporte:</li>
                <li>Se você deseja falar com a nossa equipe utilize os contatos disponíveis abaixo:</li>
                <li>Email: mapapucgo@gmail.com</li>
                <li>Tel.:00 00000-0000</li>
                <li>Se o caso for alguma dúvida sobre o site, tente buscar na página de -Ajuda-!</li>
            </ul>
        </div>













