{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/style_registros.css' %}">
{% endblock %}

{% block title %}Registro de rotas — PUC-Go{% endblock %}

{% block content %}
<main class="conteudo-principal">
    <div class="registro-container">
        <h1>Registro de rotas</h1>

        {% if registros %}
            <ul class="lista-registros">
                {% for r in registros %}
                    <li class="registro-card">
                        <p class="registro-titulo">
                            {{ r.predio.nome }}
                        </p>

                        <p class="registro-meta">
                            <span>Rota feita em {{ r.criado_em|date:"d/m/Y H:i" }}</span>
                            {% if r.usuario %}
                                <span>Usuário: {{ r.usuario.username }}</span>
                            {% endif %}
                        </p>

                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="registro-vazio">
                Você ainda não escolheu nenhuma rota.
            </p>
        {% endif %}
    </div>
</main>
{% endblock %}
