{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/style_resultado_pesquisa.css' %}">
{% endblock %}

{% block title %}PUC-Go — Resultado de Pesquisa{% endblock %}

{% block content %}

    <div class = "resultados">
        <p class = "titulo-res">Resultados da Pesquisa</p>

        {% if query %}
        <p class="quant-res">
            {{ total_resultados }} resultado{% if total_resultados != 1 %}s{% endif %}
            encontrado{% if total_resultados != 1 %}s{% endif %} para "{{ query }}"
        </p>
    {% else %}
        <p class="quant-res">
            {{ total_resultados }} resultado{% if total_resultados != 1 %}s{% endif %}
            encontrado{% if total_resultados != 1 %}s{% endif %} com os filtros selecionados
        </p>
    {% endif %}
    </div>

    {% if predios_encontrados or locais %}
        {% for predio in predios_encontrados %}
        <div class="container-pesq">
            <div class="img-res">
                <i data-lucide="building" class="icone-predio2"></i>
                <p class="titulo-card">{{ predio.nome }}</p>
                <p class="subtit-card">Prédio</p>
            </div>
            <div class="res-txt">
                <div class="div-pesq">
                    <p class="nome-pesq">{{ predio.nome }}</p>

                    {% if user.is_authenticated %}
                        <form method="post" action="{% url 'mapa:favoritar_predio' predio.id %}">
                        {% csrf_token %}
                            <button type="submit" class="favorites-btn2" aria-label="Favoritar prédio">
                                {% if predio.id in favoritos_predios_ids %}
                                    <i data-lucide="heart" class="icone-coracao-preenchido"></i>
                                {% else %}
                                    <i data-lucide="heart" class="icone-coracao-vazio"></i>
                                {% endif %}
                            </button>
                        </form>
                    {% else %}
                            <a href="{% url 'mapa:favoritar_login_required' %}" class="favorites-btn2">
                                <i data-lucide="heart" class="icone-coracao-vazio"></i>
                            </a>
                    {% endif %}
                </div>
                
                <div class="div-pesq2">
                    <i data-lucide="map-pin" class="icone-textos"></i>
                    <p class="text-pesq">Edifício completo</p>
                </div>
                    <div class="div-pesq3">
                        <div class="div-pesq">
                            <p class="tit-inf-adc">Informações Adicionais</p>
                        </div>
                        {% if predio.descricao %}
                        <div class="div-pesq2">  
                            <i data-lucide="info" class="icone-textos"></i>  
                            <p class="text-pesq">{{ predio.descricao }}</p>
                        </div>
                        {% else %}
                        <div class="div-pesq2">  
                            <i data-lucide="info" class="icone-textos"></i>  
                            <p class="text-pesq">Sem descrição</p>      
                        </div>
                        {% endif %}
                    </div>    
                {% load l10n %}
                <div class="div-pesq5">
                    <a href="{% url 'mapa:mapa' %}?lat={{ predio.coordenadas.0|unlocalize }}&lng={{ predio.coordenadas.1|unlocalize }}" class="marcar-btn">
                        <span data-lucide="map-pinned" class="icones-btns"></span>Marcar como destino
                    </a>
                    <a href="{% url 'available_locations' %}" class="extras-btn">
                        <span data-lucide="route" class="icones-btns"></span>Ver Locais
                    </a>
                    <button class="extras-btn"><span data-lucide="share-2" class="icones-btns"></span>Compartilhar</button>
                </div>
            </div>
        </div>
        {% endfor %}
        
        {% for local in locais %}
            <div class="container-pesq">
                <div class="img-res">
                    <i data-lucide="building" class="icone-predio2"></i>
                    <p class="titulo-card">{{ local.predio.nome }}</p>
                    <p class="subtit-card"> 
                            {% if local.andar.isdigit %}
                                {{ local.andar }}º andar
                            {% else %}
                                {{ local.andar }}
                            {% endif %}
                    </p>
                </div>
                <div class="res-txt">
                    <div class="div-pesq">
                        <p class="nome-pesq">{{ local.nome }}</p>
                        
                        {% if user.is_authenticated %}
                            <form method="post" action="{% url 'mapa:favoritar_local' local.id %}">
                            {% csrf_token %}
                                <button type="submit" class="favorites-btn2" aria-label="Favoritar local">
                                    {% if local.id in favoritos_locais_ids %}
                                        <i data-lucide="heart" class="icone-coracao-preenchido"></i>
                                    {% else %}
                                        <i data-lucide="heart" class="icone-coracao-vazio"></i>
                                    {% endif %}
                                </button>
                            </form>
                        {% else %}
                            <a href="{% url 'mapa:favoritar_login_required' %}" class="favorites-btn2">
                                <i data-lucide="heart" class="icone-coracao-vazio"></i>
                            </a>
                        {% endif %}
                    
                    
                    </div>


                    <div class="div-pesq2">
                        <i data-lucide="building" class="icone-textos"></i>
                        <p class="text-pesq">{{ local.predio.nome }}</p>
                    </div>
                    <div class="div-pesq2">
                        <i data-lucide="layers" class="icone-textos"></i>
                        <p class="text-pesq">{% if local.andar.isdigit %}
                                                {{ local.andar }}º andar
                                            {% else %}
                                                {{ local.andar }}
                                            {% endif %} </p>
                    </div>
                    <div class="div-pesq2">
                        <i data-lucide="door-open" class="icone-textos"></i>
                        <p class="text-pesq">{{ local.get_tipo_display }}</p>
                    </div>
                    <div class="div-pesq3">
                        <div class="div-pesq">
                            <p class="tit-inf-adc">Informações Adicionais</p>
                        </div>
                        <div class="div-pesq4">
                            {% if local.informacoes_extras.capacidade %}
                            <p class="text-pesq">
                                Capacidade: <span class="text-pesq2">{{ local.informacoes_extras.capacidade }} pessoas</span>
                            </p>
                            {% endif %}
                            {% if local.informacoes_extras.tipo %}
                            <p class="text-pesq">
                                Tipo:  <span class="text-pesq2">{{ local.get_tipo_display }}</span>
                            </p>
                            {% endif %}
                            {% if local.informacoes_extras.recursos %}
                            <p class="text-pesq">
                                Recursos: <span class="text-pesq2">{{ local.informacoes_extras.recursos }}</span>
                            </p>
                            {% endif %}
                            {% if local.informacoes_extras.acessibilidade %}
                            <p class="text-pesq">
                                Acesso:  <span class="text-pesq2">{{ local.informacoes_extras.acessibilidade }}</span>
                            </p>
                            {% endif %}
                        </div>
                    </div>    
                    {% load l10n %}
                    <div class="div-pesq5">
                        <a href="{% url 'mapa:mapa' %}?lat={{ local.predio.coordenadas.0|unlocalize }}&lng={{ local.predio.coordenadas.1|unlocalize }}" class="marcar-btn">
                            <span data-lucide="map-pinned" class="icones-btns"></span>Marcar como destino
                        </a>
                        <a href="{% url 'info_ambientes' local.id %}" class="extras-btn">
                            <span data-lucide="info" class="icones-btns"></span>Mais informações
                        </a>
                    </div>
                </div>
    </div>
    {% endfor %}
    
        <div class = "resultados">
            <p class = "quant-res">Fim dos resultados da pesquisa</p>
        </div>

    {% else %}
        <div class="resultados">
            {% if query %}
        <p class="quant-res">
            {{ total_resultados }} resultado{% if total_resultados != 1 %}s{% endif %}
            encontrado{% if total_resultados != 1 %}s{% endif %} para "{{ query }}"
        </p>
    {% else %}
        <p class="quant-res">
            {{ total_resultados }} resultado{% if total_resultados != 1 %}s{% endif %}
            encontrado{% if total_resultados != 1 %}s{% endif %} com os filtros selecionados
        </p>
    {% endif %}
        </div>

    {% endif %}



{% endblock %}